{% extends "rui_base.html" %}

{% block body %}
<script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
</script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous">
</script>
<link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous">
</script>
<script src="{{ url_for('reworkui.static', filename='rework_ui_elm.js') }}"></script>

<div id="app"></div>
<script>

 app = Elm.Main.init({
     node: document.getElementById("app"),
     flags: {baseurl : "{{homeurl}}",
             domains : {{domains | safe }} }
 })

 app.ports.schedule_task.subscribe(
     function(operation) {
         let form = document.getElementById('run-form')
         fetch(
             `schedule2/${operation}?user=WEBUI`,
             {method: 'PUT', body: new FormData(form), credentials: 'same-origin'}
         ).catch(
             error => console.log(error)
         )
     }
 )

 app.ports.pre_schedule_task.subscribe(
     function() {
         let form = document.getElementById('pre-schedule-form')
         fetch(
             `prepare-schedule?user=WEBUI`,
             {method: 'PUT', body: new FormData(form), credentials: 'same-origin'}
         ).catch(() => {
             app.ports.pre_schedule_fail.send(error)
         }).then(resp => {
             if (resp.ok) {
                 app.ports.pre_schedule_ok.send('done')
             }
             else {
                 app.ports.pre_schedule_fail.send('failed')
             }
         })
     }
 )

</script>

{% endblock %}
