.queued {
    color: blue;
}

.running {
    color: blue;
}

.done {
    color: green;
}

.aborting {
    color: blue;
}

.aborted {
    color: orange;
}

.failed {
    color: red;
}


